@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.body {
  background-color: #262626;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2rem + 3vw);
}

.centered2 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2rem + 3vw);
}

.box-small {
  max-width: 60%;
  max-height: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
